# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

#AppCode
.idea

#Fastlane
archives/

#Cocoapods
Pods/

report.xml
README.md
my_derived_data
fastlane/screenshots

UITests/Locations.bundle
Climate.xcodeproj/project_BACKUP_60226.pbxproj
Climate.xcodeproj/project_BASE_60226.pbxproj
Climate.xcodeproj/project_LOCAL_60226.pbxproj
Climate.xcodeproj/project_REMOTE_60226.pbxproj
